.form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &--2 {
    @include mobile-above {
      max-width: 650px;
      margin: 0 auto;
    }
  }

  &__inner {
    @include mobile-above {
      display: flex;
      column-gap: 50px;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  

    &-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @include mobile-above {
        width: 100%;
      }
    }

    &-label {
      font-size: 15px;
      line-height: 1.04;
      background-color: var(--color-light);
      color: var(--color-gray-text);
      position: absolute;
      top: -12%;
      left: 6%;
      z-index: 12;
    }

    &-input {
      
      height: 64px;
      border-radius: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 14px;
      padding: 22px 24px;
      
      @include hover {
        border: 1px solid #536dff;
        }
      }
      
      &::placeholder {
        color: var(--color-dark-but-bg);
      }
    }

  &__fields--3 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include mobile-above {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }
  }

    textarea {
        border-radius: 14px;
        border: 1px solid var(--color-blue-alt);
        border-radius: 14px;
        padding: 22px 24px;
        height: 100%;
        }
    &__field-label--textarea {
      position: absolute;
      top: -8px;
    }

    .upload-label {
      position: absolute;
      top: -9px;
    }    
        
    #uploadArea {
      @include fluid-height(258, 155);
      border-radius: 14px;
      border: 1px solid var(--color-blue-alt);
      border-style: dashed;
      border-radius: 14px;
      padding: 22px 24px;
    }  

    .file__title {
      display: flex;
      align-items: center;
    }

    .file-item {
      display: flex;
      column-gap: 9px;
    }
    .file-item span {
      background: transparent;
    }

    .file-icon {
      outline: none;
      appearance: none;
      background-image: url(../../images/price/Group\ 4655.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
    }

    .delete-btn {
      margin-left: auto;
      border: none;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      

  input:focus {
      outline: none;
      border: 1px solid #536dff;
  }


  .select-wrapper{
    position: relative;
    width: 100%;
    background: transparent !important;
  }
  

  &__select {
    outline: none;
    width: 100%;
    padding-right: 20px;
    background: transparent !important;
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;       /* remove arrow FF     */
    position: relative;
    z-index: 10;

    :focus {
      border: 1px solid #536dff;
    }
  }

  &__select::-ms-expand{
    display: none;             /* remove arrow IE     */
  }

  select::focus {
    outline: none;
    border: 1px solid #536dff;
  }

  .select-arrow  {
    position: absolute;
    z-index: 9;
    border: 8px solid transparent;
    border-bottom: 0;
    right: 10px;
    top: 15px;
  }

  .flatpickr-input {
    position: relative;
    z-index: 11;
    background: transparent !important;
  }

  .iti__tel-input {
    width: 100%;
    position: relative;
  }

  .icons-wrapper {
    display: flex;
    column-gap: 4px;
    position: absolute;
    top: 14px;
    right: 24px;

    span {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .promo__open-btn {
    @include reset-button;
    margin-top: -30px;
    margin-left: auto;
    font-size: 15px;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    color: #536dff;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &--2 {
      @include mobile-above {
        display: flex;
        flex-direction: row;
        column-gap: 10px;

        .next-btn {
          order: 1;
        }
      }
    }
  }

  &__button {
    width: 100%;
    background-color: var(--color-dark-but-bg);
    color: var(--color-light);
    border-radius: 10px;
    transition: all .3s ease;

    &:hover {
      color: #adb6fe;
    }
  }

  &__description {
    margin-top: 50px;
    font-size: 13px;
    line-height: 1.04;
    text-align: center;
    color: #b3b3b3;
  }

  .prev-btn {
    background-color: #d9d9d9;
    color: #8b8b8b;
    border: none;
  }
}

/* Скрывает форму по умолчанию */
.hidden {
  display: none ;
}
/* Стили для модального окна (позиционирование, наложение) */
#succesModal {
  /* Изначально скрыта, но будет показана через JavaScript */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Стили для контента формы внутри модального окна */
.form-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  width: 300px;
  height: 200px;
}

.hidden__button {
  margin-top: 20px;
  width: 100%;
}

.hidden__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}