.help {
  background: var(--bg-lg-bg);
  margin-inline: -9px;
  color: var(--color-light);
  position: relative;
  z-index: 0;

  &__pattern,
  &__rect-right,
  &__rect-left {
    position: absolute;
    z-index: 1;
  }

  &__pattern {
    width: 100%;
    height: 100%;
    
  }

  &__rect-right {
    right: 0;
  }

  &__rect-left {
    bottom: 0%;
    
  }

  &__inner {
    padding: 80px 9px;
    z-index: 2;
    position: relative;
  }

  &__title {
    @include fluid-text (74, 44);

    font-weight: 600;
    line-height: 0.95;
    text-align: center;
    margin-bottom: 30px;
    padding-inline: 15px;

    @include mobile-above {
      margin-bottom: 56px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__filters {
    display: inline-flex;
    align-items: center;
    padding-inline: 2px;
    margin-inline: auto;

    @include mobile-above {
      width: 636px;
      height: 78px;
      background-color: var(--color-light);
      color: var(--color-dark-bg);
      border-radius: 100px;
    }
  }

  &__filter {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #adb6fe;
    color: #adb6fe;
    width: 185px;
    height: 40px;

    @include mobile-above {
      width: 316px;
      height: 74px;
      border-radius: 100px;
      border-bottom: none;
      font-weight: 500;
      font-size: 17px;
      color: var(--color-dark-bg);
    }
  }

  .mixitup-control-active {
    color: var(--color-light);
    border-bottom: 1px solid var(--color-light);

    @include mobile-above {
      background-color: var(--color-dark-bg);
      transition: all .3s ease;

      &:hover {
        color: #adb6fe;
      }
    }
  }


  &__list2 {
    margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px 12px;
  padding-block: 10px;
  align-items: center;
  justify-content: center;
  max-width: 1634px;
  margin-inline: auto;

  @include mobile-above {
    grid-template-columns: repeat(4, 1fr);
  }

  @include tablet-above {
    margin-top: 5vw;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 64px;
  }

  @include desktop-above {
    grid-template-columns: repeat(6, 1fr);
   
  }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    text-align: center;
    width: 100%;
    height: 141px;

    @include mobile-above{
      height: 232px;
      row-gap: 54px;
    }
  }

  &__blur {
    max-width: 94px;
    max-height: 89px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    backdrop-filter: blur(51.20000076293945px);
    background: rgba(255, 255, 255, 0.32);
    transition: all .3s ease;

    &:hover {
      transform: scale(1.1);
    }

      
    @include mobile-above {
      max-width: 152px;
      max-height: 144px;
      width: 100%;
      height: 100%;
    }
  }

  &__link:hover + &__blur > &__image {
    transform: scale(1.2);
  }

  &__image {
    width: 36px;
    height: 39px;
    
    @include mobile-above {
      width: 58px;
      height: 62px;
    }
  }

 

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    padding-inline: 10px;
  }
}

/* #container .category-b {
  display: none;
}
 */

