.mobile-overlay{
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 14px 20px;
  left: auto;
  
  
  &:modal {
    padding: 12px;
    width: 347px;
    max-height: 100%;
    background-color:var(--color-dark-bg);
    color: var(--color-light);
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

 
  &__list{
    list-style-type: none;
    margin-bottom: 43px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border-bottom:1px solid #8b8b8b;
    height: 56px;
    margin-bottom: 6px;

    p {
      margin: 0;
    }
  }
  &__bottom {
    display: flex;
    column-gap: 8px;
  }
}