.order {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__accordion {
    &[open] {
      padding: 26px px;
      background-color: #ffffff;
      border-radius: 24px;
    }
  }

  &__accordion {
    &[open] 
      .order__accordion-header {
        padding: 38px 12px;
        align-items: center;
        margin-right: 15px;

        @include mobile-above {
          padding: 38px;
        }
      }
    }

  &__accordion {
    &[open] 
      .order__accordion-header span {
        rotate: 180deg;
      }
    }

  &__accordion {
    &[open] 
      .order__header-left span {
        display: block;

        @include mobile-above {
          display: none;
        }
      }
  }

  &__accordion {
    &[open] 
      .order__header-left {
        font-weight: 600;
        font-size: 34px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        padding: 12px;
      }
  }

  &__accordion {
    &[open] 
      .order__number{
        font-weight: 500;

        @include mobile-above {
          font-weight: 600;
        }
      
      }
  }

  &__accordion-header {
    background-color: var(--color-light);
    border-radius: 24px;
  }
  
  &__item {
    border-radius: 24px;

  &--shadow {
      box-shadow: 0 37px 81px 0 rgba(0, 0, 0, 0.1), 0 147px 147px 0 rgba(0, 0, 0, 0.09), 0 331px 199px 0 rgba(0, 0, 0, 0.05), 0 589px 235px 0 rgba(0, 0, 0, 0.01), 1px 920px 250px 0 rgba(0, 0, 0, 0), 0 22px 59px 0 rgba(0, 0, 0, 0.11);
    }
  }

  &__accordion-header {
    padding: 26px 20px;
    display: flex;
    justify-content: space-between;


  }
  &__header-left {
    display: flex;
    align-items: center;
    column-gap: 18px;
    font-size: 18px;
    
    @include mobile-above {
      font-size: 26px;
    }
  }

  &__header-left span {
    height: 30px;
  }

  &__number {
    @include fluid-text(34, 18);

    font-weight: 500;
  }

  &__body {
    padding: 10px;
    background-color: var(--color-light);
    border-radius: 0 0 24px 24px;

    @include mobile-above {
      padding: 20px;
    }
    
    &-gray {
      margin-top: -114px;
      padding: 10px;
      padding-top: 80px;
      background: rgba(241, 243, 245, 0.5);
      border-radius: 20px;
      margin-bottom: 40px;

      @include mobile-above {
        margin-top: -134px;
        padding: 28px;
        padding-top: 80px;
      }
    }

    &-diplom {
      margin-top: 5px;
      max-width: 400px;
      color: var(--color-gray-text);
      line-height: 1.54;
      letter-spacing: 0.04em;
      margin-bottom: 16px;
      font-size: 15px;

      @include mobile-above {
        margin-bottom: 38px;
        font-size: 20px;
      }
    }

    &-tema {
      display: flex;
      column-gap: 18px;
      max-width: 606px;
      margin-bottom: 16px;

      @include mobile-above {
        margin-bottom: 36px;
      }
    }

    &-tema span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 62px;
      height: 62px;
      border-radius: 50%;
      background-color: var(--color-dark-but-bg);
    }

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.24;
      letter-spacing: -0.02em;

      @include mobile-above {
        font-size: 26px;
      }
    }

    &-blue {
      display: flex;
      column-gap: 6px;
      margin-bottom: 36px;
    }

    &-item {
      padding: 10px;
      background-color: var(--color-blue);
      display: flex;
      
      align-items: center;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      border-radius: 10px;

      @include mobile-above {
        padding: 11.5px 30px;
        column-gap: 10px;
        font-size: 20px;
      }
    }

    &-item span {
      height: 24px;
    }

    &-price {
      font-size: 27px;
      line-height: 1.24;

      @include mobile-above {
        font-size: 44px;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
    }

    &-wrapper {
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      @include mobile-above {
        margin-left: 30px;
      }
    }

    &-wrapper span {
      display: none;

      @include mobile-above {
        display: block;
        margin-top: -20px;
      }
    }

    &-description {
      max-width: 600px;
      font-size: 14px;
      line-height: 1.54;
      letter-spacing: -0.01em;

      @include mobile-above {
        font-size: 20px;
      }
    }

    &-extra {
      display: flex;
      column-gap: 10px;
      margin-left: 30px;
    }

    &-name {
      margin-bottom: 4px;
      font-size: 20px;
      line-height: 1.54;
    }
  }


}