.promo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none; 

  &__inner {
    @include fluid-width(772, 430);
    @include fluid-height(446, 419);
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;

    @include mobile-above {
      border-radius: 36px;
      align-items: center;
    }
  }

  &__modal-close {
    display: flex;
    justify-self: end;
    margin-bottom: 46px;
    font-size: 32px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
  }

  &__modal-close:hover,
  &__modal-close:focus {
    background-color: #f3f3f3;
  }

  &-step {
    display: none;
  }

  .promo-step.active {
    display: flex;
    flex-direction: column;

    @include desktop-above {
      margin-inline: auto;
      max-width: 590px;
      width: 100%;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 53px;

    @include mobile-above {
      margin-inline: auto;
    }
  }

  &__title {
    @include fluid-text(54, 38);

    font-weight: 600;
    
    line-height: 1.1;
  }

  &__input {
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    padding: 24px 26px;
    height: 68px;
    margin-bottom: 10px;
    @include mobile-above {
      width: 90%;
      margin-inline: auto;
    }
   
  }

  &__button {
    background: #333;
    color: var(--color-light);
    border-radius: 10px;
    padding: 24px 36px;
    height: 66px;
    @include mobile-above {
      width: 90%;
      margin-inline: auto;
    }
  }

  &__false,
  &__true {
    display: flex;
    column-gap: 6px;
    align-items: center;
    align-self: end;
    
    margin-bottom: 10px;

    span {
      height: 22px;
    }
  }

  &__false {
    color: #ff3737;
  }

  &__true {
    color: #44be81;
  }

  &__description {
    line-height: 1.4;
    text-align: center;
    color: #b3b3b3;
    margin-bottom: 50px;
  }

  &__succes {
    width: 430px;
    height: 446px;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
  }
}

#promoStep3 {
  margin-top: -32px;
}

.succes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 20px;
}