.regist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none; 
  transition-duration: var(--transition-duration);
  
  &__inner {
    width: 430px;
    height: 446px;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
  }
  
  &__modal-close {
    display: flex;
    justify-self: end;
    margin-bottom: 10px;
    font-size: 32px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
  }

  &__modal-close:hover,
  &__modal-close:focus {
    background-color: #f3f3f3;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }

  &__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.1;
  }

  &__field {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  

    &-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @include mobile-above {
        width: 100%;
      }
    }

    &-label {
      font-size: 15px;
      line-height: 1.04;
      background-color: var(--color-light);
      color: var(--color-gray-text);
      position: absolute;
      top: -12%;
      left: 6%;
      z-index: 12;
    }

    &-input {
      width: 100%;
      height: 64px;
      border-radius: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 14px;
      padding: 22px 24px;
      
      @include hover {
        border: 1px solid #536dff;
        }
      }
      
      &::placeholder {
        color: var(--color-dark-but-bg);
      }
    }

    &__button {
      background: #333;
      color: var(--color-light);
      border-radius: 10px;
      padding: 24px 36px;
      height: 66px;
      width: 100%;
    }

}