.swiper-pagination {
  position: absolute;
  transform: translateY(380%);
  left: 80% !important;
  display: flex;
  column-gap: 10px;

  &-bullet {
    width: 54px;
    height: 2px;
    background-color: var(--color-gray-text);
    user-select: none;
    margin: 0 !important;
    opacity: 1 !important;
    margin: 0.5rem  !important;
    border-radius: 0;
    
  &-active {
      content: '';
      width: 96px;
      height: 4px;
      background-color: var(--color-blue) !important;
      
    }
  }
}





.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 3.4rem;
  height: 2.5rem;
  border: none;
  border-radius: 6.25rem;
  content: '';
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper-button-prev {
  position: absolute;

  &:hover {
    background-image: url(../../images/icons/arrow-slide-left-accent.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
  }
}

.swiper-button-next {
  background-image: url(../../images/icons/arrow-slide-right-gray.svg);
  
  &:hover {
    background-image: url(../../images/icons/arrow-slide-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

