body{
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  letter-spacing: -0.02em;
  
  line-height: 1.2        ;
  color: var(--color-dark-text);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration) ease;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5 {
  font-weight: 500;
  
  
  @include mobile-above {
    font-weight: 600;
  }
}

@keyframes fadeInZero {
  0%{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
}


