$desktop-l-above: 1551px;
$desktop-l: 1550px;

$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

$mobile-m-above: 688px;
$mobile-m: 687px;

$mobile-s-above: 481px;
$mobile-s: 480px;

$mobile-xs-above: 381px;
$mobile-xs: 380px;


@mixin desktop-l-above{
  @media (min-width: $desktop-l-above) {
    @content;
  }
}
@mixin desktop-l {
  @media (max-width: $desktop-l) {
    @content;
  }
}

@mixin desktop-above{
  @media (min-width: $desktop-above) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-above{
  @media (min-width: $tablet-above) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above{
  @media (min-width: $mobile-above) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-m-above{
  @media (min-width: $mobile-m-above) {
    @content;
  }
}
@mixin mobile-m {
  @media (max-width: $mobile-m) {
    @content;
  }
}

@mixin mobile-s-above{
  @media (min-width: $mobile-s-above) {
    @content;
  }
}
@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin mobile-xs-above{
  @media (min-width: $mobile-xs-above) {
    @content;
  }
}
@mixin mobile-xs {
  @media (max-width: $mobile-xs) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

