.container {
  max-width: calc(var(--container-width) - var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.content {
  background-color: var(--color-gray-bg);
  padding-inline: 9px;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.vizible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.vizible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.vizible-desktop {
  @include desktop-above {
    display: none !important;
  }
}

.hidden-desktop-l {
  @include desktop-l {
    display: none !important;
  }
}

.vizible-desktop-l {
  @include desktop-l-above {
    display: none !important;
  }
}

