:root {
  --color-dark-text: #2d2d2d;
  --color-dark-title: #08304c;
  --color-dark-but-bg: #333;
  --color-dark-bg: #101010;
  --color-dark-bg-alt: #282828;
  --color-light: #ffffff;
  --color-blue: #538aff;
  --color-blue-dark: #324de3;
  --color-blue-alt: #536dff;
  --color-gray-bg: #f1f3f5;
  --color-gray-text: #b3b3b3;
  --color-gray-bg-text:rgba(217, 217, 217, 0.3);
  --color-accent: #B9FF66;

  --bg-lg-bg: linear-gradient(180deg, #4d4dff 0%, #15a7f5 100%);
  --bg-lg-bg-rot: linear-gradient(128deg, #4d4dff 0%, #15a7f5 100%);
  --bg-lg-lin: linear-gradient(90deg, #4d4dff 0%, #15a7f5 100%);
  --bg-trans: rgba(255, 255, 255, 0.32);
  --bg-trans-dark: rgba(255, 255, 255, 0.64);
  --bg-filter: blur(51.20000076293945px);

  --border: 3px solid rgba(21, 156, 255, 0);
  --border-small:1px solid #d9d9d9;
  --border-radius: 14px;
  --border-radius-xxs: 8px;
  --border-radius-xs: 10px;
  --border-radius-s: 12px;
  --border-radius-m: 14px;
  --border-radius-l: 18px;
  --border-radius-xl:36px;
  --border-radius-xxl: 49px;
  --border-radius-xxxl: 100px;

 
  
  --shadow: 0 5px 0 0 var(--color-dark);

  --font-family-base: 'Inter Tight', sans-serif;

  --container-width: 100%;
  --container-padding-x: 10px;

  --section-padding-y: 70px;

  --input-height: 59px;
  --button-height: 68px;

  --transition-duration: 0.3s;

  @include desktop{
    --section-padding-y: 50px;
  }
  @include mobile{
    --section-padding-y: 30px;
  }
}

