@import 
'normalize',
'fonts',
'mixins',
'media',
'variables',
'utils',
'globals';

@import
'blocks/hero',
'blocks/header',
'blocks/logo',
'blocks/modal-overlay',
'blocks/burger-button',
'blocks/mobile-overlay',
'blocks/cross-button',
'blocks/button',
'blocks/soc1als',
'blocks/contact-us',
'blocks/field',
'blocks/advantages',
'blocks/progress',
'blocks/progress-bar',
'blocks/authors',
'blocks/card',
'blocks/swiper',
'blocks/order',
'blocks/trust',
'blocks/form',
'blocks/price',
'blocks/progress-bar2',
'blocks/step-content',
'blocks/sliders',
'blocks/help',
'blocks/breadcrumb',
'blocks/footer',
'blocks/messengers',
"blocks/payment",
'blocks/promo',
'blocks/regist';